<header class="header">
    <nav class="navbar navbar-default navbar-static-top yamm sticky">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CookBook</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                    	{{#link-to "index"}}<i class="fa fa-home"></i> Accueil{{/link-to}}
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">
                        	<i class="icon fa fa-cutlery"></i> Les recettes <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h3 class="heading">Base pages</h3>
                                            <ul class="nav mega-vertical-nav">        
                                                <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
                                                <li><a href="register.html"><i class="fa fa-user"></i> Register</a></li>
                                                <li><a href="contact.html"><i class="fa fa-map-marker"></i> Contact </a></li>
                                                <li><a href="404.html"><i class="fa fa-trash-o"></i> 404 </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3 class="heading">Product Pages </h3>
                                            <ul class="nav mega-vertical-nav">
                                                <li><a href=""><i class="fa fa-list"></i> Product list</a></li>
                                                <li><a href=""><i class="fa fa-bars"></i> Product grid</a></li>
                                                <li><a href=""><i class="fa fa-angle-right"></i> Product Detail </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3 class="heading">Cart Pages</h3>
                                            <ul class="nav mega-vertical-nav">
                                                <li><a href=""><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                                <li><a href=""><i class="fa fa-truck"></i> Checkout</a></li>   
                                                <li><a href=""><i class="fa fa-sliders"></i> Order history </a></li>
                                                <li><a href=""><i class="fa fa-random"></i> Compare </a></li>
                                                <li><a href=""><i class="fa fa-heart"></i> Wishlist </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="images/hamburger.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        {{#link-to "recipes.add"}}<i class="icon fa fa-plus"></i> Ajouter{{/link-to}}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if authenticate.userIsLoggedIn }}
                        <li class="dropdown {{openDropDown}}">
                            <a href="#" class="dropdown-toggle js-activated" {{action "toggleDropDown"}} data-toggle="dropdown" role="button" aria-haspopup="true">
                                <span style="text-transform: capitalize;">{{ authenticate.user.username }}</span> <i class="fa fa-user"></i> <span class="badge">5</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mon compte</a></li>
                                <li><a href="#" {{action "logout"}}>Déconnexion</a></li>
                            </ul>
                        </li>                    
                    {{else}}
                        <li class="">{{#link-to "login"}}<i class="fa fa-user"></i> Connexion{{/link-to}}</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>