<div class="blocks-col {{ if isCheck "img-check" }}" {{action 'check'}} style="background-image:url({{ img }});">
	<div class="block-overlay">
        <h4>{{ type }}</h4>
        <p>{{ detail }}</p>
    </div>
</div>