<div class="row">
    <div class="col-md-9">
        <ul class="recipe-filter-block list-inline clearfix">
        	<li><i class="fa fa-search"></i></li>
        	<li>{{input value=query class="form-control input-sm"}}</li>
        	<li class="ml-20"><i class="fa {{if reverseSort 'fa-sort-desc' 'fa-sort-asc'}}"></i></li>
            <li class="{{if (is-equal sortBy "date") 'active' ''}}">
            	<a href="#" {{ action "sortByField" "date"}}>Dernier ajouté</a>
            </li>
            <li class="{{if (is-equal sortBy "score") 'active' ''}}">
            	<a href="#" {{ action "sortByField" "score"}}>Meilleur note</a>
            </li>
        </ul>

        {{#each sortedRecipes as |recipe|}}
	        <div class="recipe-list">
	            <div class="row">
	                <div class="col-md-2 margin-b-20">
	                    <div class="recipe-list-thumb type-{{ recipe.type }}">
	                    </div>
	                </div>
	                <div class="col-md-10">
	                    <div class="recipe-list-desc">
	                    	<div class="row">
	                    		<div class="col-md-6">
	                    			<h3 class="title">
	                        			<a href="#">{{ recipe.name }}</a>
	                        		</h3>
	                    		</div>
	                    		<div class="col-md-6">
			                        {{ display-rating rating=recipe.score }}
	                    		</div>	                    		
	                    	</div>
	                        <div class="row">
	                    		<div class="col-md-3">
	                    			<span class="making avatar-preparation"> {{ recipe.minute }} minutes</span>
	                    		</div>
	                    		<div class="col-md-3">
	                    			<span class="baking avatar-cuisson"> {{ recipe.degree }} ° C</span>
	                    		</div>
								<div class="col-md-6">
	                    			<div class="recipe-list-desc">
				                        <div class="icon-list">
				                            <a href="#" class="btn btn-classic btn-skin" {{action "toggleBookmark" recipe}} >
				                            	<i class="icon-pin"></i> {{ if recipe.bookmarked "Retirer des" "Ajouter aux" }} favoris
				                            </a>
				                            {{!-- <a href="#" class="btn btn-skin" }}>Voir</a> --}}
				                            {{#link-to "recipes.show" recipe.id class="btn btn-skin"}}
				                            	Voir
				                            {{/link-to}}
				                        </div>
				                    </div>  
	                    		</div>
	                    	</div>
	                    </div>
	                </div>              
	            </div>
	        </div>
        {{/each}} 
        {{#if showPagination}}
	        <nav>
	            <ul class="pagination pull-right clearfix">
	                <li>
	                    <a href="#" aria-label="Previous">
	                        <span aria-hidden="true">«</span>
	                    </a>
	                </li>
	                <li class="active"><a href="#">1</a></li>
	                <li><a href="#">2</a></li>
	                <li><a href="#">3</a></li>
	                <li><a href="#">4</a></li>
	                <li><a href="#">5</a></li>
	                <li>
	                    <a href="#" aria-label="Next">
	                        <span aria-hidden="true">»</span>
	                    </a>
	                </li>
	            </ul>
	        </nav>
        {{/if}}
    </div>

    <div class="col-md-3 recipe-filter-by">
		{{#if showFilterBookmarked}}
	        <div class="sidebar-widget">
	            <h3>Filter</h3>
	            <ul class="list-unstyled">
                	<li class="{{if filterByBookmarked 'active' ''}}">
                		<a href="#" {{ action "filterByBookmarked"}}>
                			Bookmarked ({{bookmarks.nb}})
                		</a>
                	</li>
	        		{{#if filterByBookmarked}}
	        			<li class="text-right">
	        				<a href="#" class="btn btn-skin btn-xs btn-classic" {{ action "erasedFilterByBookmarked"}}>Supprimer les filtres</a>
	        			</li>
	        		{{/if}}
	            </ul>
	        </div>          
        {{/if}}            
    	{{#if showFilterElement}}
	        <div class="sidebar-widget">
	            <h3>Ingrédient</h3>
	            <ul class="list-unstyled">
	                {{#each elements as |elem|}}
	                	<li class="{{if (is-contains filterByElementId elem.id) 'active' ''}}"><a href="#" {{ action "filterByElementId" elem.id}}>{{elem.name}} ({{elem.nb}}) </a></li>
	        		{{/each}} 
	            	{{#if filterByElementId}}
	            		<li class="text-right">
	            			<a href="#" class="btn btn-skin btn-xs btn-classic" {{ action "erasedFilterByElement"}}>Supprimer les filtres</a>
	            		</li>
	            	{{/if}}        		
	            </ul>
	        </div>    	
    	{{/if}}
        {{#if showFilterType}}
	        <div class="sidebar-widget">
	            <h3>Type de recette</h3>
	            <ul class="list-unstyled">
	            	{{#each types as |type|}}
	                	<li class="{{if (is-equal filterByType type.name) 'active' ''}}"><a href="#" {{ action "filterByType" type.name}}>{{type.name}} ({{type.nb}})</a></li>
	        		{{/each}}
	        		{{#if filterByType}}
	        			<li class="text-right">
	        				<a href="#" class="btn btn-skin btn-xs btn-classic" {{ action "erasedFilterByType"}}>Supprimer les filtres</a>
	        			</li>
	        		{{/if}}
	            </ul>
	        </div>          
        {{/if}}
    </div>
</div>