<div class="breadcrumb-wrapper">
    <div class="container">
        <h1><i class="fa fa-cutlery" aria-hidden="true"></i>Ajouter une recette</h1>
    </div>
</div>
<div class="container padding-30 container-height ">
	<div class="row">
		<div class="col-sm-6">
			<div class="content-block">
				<div class="block">
			      <div class="block-header">
			         <h3 class="block-title">Recette</h3>
			      </div>
			      	<div class="block-content form-horizontal">
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Nom</label>
							<div class="col-sm-9">
							{{input value=recipe.object.name class="form-control"}}
							</div>
						</div>	
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 text-right">Déjà réalisé</label>
							<div class="col-sm-9">
								{{#radio-button
								    value="true"
								    groupValue=recipe.object.done
								    radioClass="radio-inline margin-right-5"}}
								    Yes
								{{/radio-button}}
								{{#radio-button
								    value="false"
								    groupValue=recipe.object.done
								    radioClass="radio-inline margin-right-5"}}
								    No
								{{/radio-button}}
							</div>
						</div>	
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Durée</label>
							<div class="col-sm-9">
								<div class="input-group">
									{{input value=recipe.object.minute class="form-control"}}
									<span class="input-group-addon">minutes</span>
								</div>
							</div>
						</div>							
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Cuisson</label>
							<div class="col-sm-9">
								<div class="input-group">
									{{input value=recipe.object.degree class="form-control"}}
									<span class="input-group-addon">°C</span>
								</div>
							</div>
						</div>			
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Note</label>
							<div class="col-sm-9">
								<div class="input-group">
									{{input value=recipe.object.score class="form-control"}}
									<span class="input-group-addon"> / 10</span>
								</div>
							</div>
						</div>										
			      </div>
			   </div>
			</div>
		</div>
        <div class="col-sm-6">
			<div class="content-block">
				<div class="block">
			      <div class="block-header">
			         <h3 class="block-title">Type</h3>
			      </div>
			      <div class="block-content">
			         <div class="table-responsive">
			         	<div class="row blocks-main">
					        <div class="col-sm-6">
								{{recipe-add-type 
					            	type="Apéro" 
					            	value="apero"
					            	active=recipe.object.type
					            	onClick=(action "updateType")
					            	detail="croissants chèvres ..." 
					            	img="https://i.ytimg.com/vi/K4jPqm1oclw/maxresdefault.jpg"}}
					        </div>
					        <div class="col-sm-6">
					            {{recipe-add-type 
					            	type="Entrée" 
					            	value="entree"
					            	active=recipe.object.type
					            	onClick=(action "updateType")
					            	detail="Terrine de légumes ..." 
					            	img="https://s-media-cache-ak0.pinimg.com/736x/d1/f6/29/d1f62942e67596d90c3be5f95bdfcd13.jpg"}}
					        </div>
					    </div>
					    <div class="row blocks-main">
					        <div class="col-sm-6">
					            {{recipe-add-type 
					            	type="Plat" 
					            	value="plat"
					            	active=recipe.object.type
					            	onClick=(action "updateType")
					            	detail="Viandes, poissons ..." 
					            	img="https://s-media-cache-ak0.pinimg.com/736x/d1/f6/29/d1f62942e67596d90c3be5f95bdfcd13.jpg"}}
					        </div>     
					        <div class="col-sm-6">
					            {{recipe-add-type 
					            	type="Desserts" 
					            	value="desserts"
					            	active=recipe.object.type
					            	onClick=(action "updateType")
					            	detail="Gâteaux, donuts ..." 
					            	img="https://s-media-cache-ak0.pinimg.com/736x/d1/f6/29/d1f62942e67596d90c3be5f95bdfcd13.jpg"}}
					        </div>                            
						</div>
			         </div>
			      </div>
			   </div>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
			<div class="content-block">
				<div class="block search">
			      <div class="block-header">
			         <h3 class="block-title">Recherche par nom d'ingrédients</h3>
			      </div>
			      <div class="block-content form-horizontal row">
			      		<div class="col-sm-6">
				         	<div class="row form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">Recherche</label>
								<div class="col-sm-9">
								    {{input name="query" value=query class="form-control" placeholder="Rechercher par nom"}}
								</div>
							</div>	
						</div>
						<div class="col-sm-6">
				         	<div class="row form-group">
								<label class="col-sm-3 control-label">Résultat</label>
								<div class="col-sm-9">
									{{#if results.length}}
										<div class="table-responsive">
											<table class="table table-condensed cart-element search-element">
											    <tbody>
											        {{#each results as |element|}}
												        {{display-result-element 
															item=element
															add=(action "addElement")
															}}
												    {{else}}
												    	<tr>
												            <td>
												            	No results    
												            </td>
												            <td>
												            </td>
												        </tr>
													{{/each}}
											    </tbody>
											</table>
										</div>
									{{else}}
										<div style="margin-left:5px; margin-top:5px;">
											No results		
										</div>
									{{/if}}
								</div>
							</div>
						</div>
			      </div>
			   </div>
			</div>	
        </div>
	</div>
	<div class="row">
        <div class="col-sm-6">
			<div class="content-block">
				<div class="block">
			      <div class="block-header">
			         <h3 class="block-title">Coller la liste des ingrédients</h3>
			      </div>
			      <div class="block-content form-horizontal">
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Ingrédients</label>
							<div class="col-sm-9">
							    {{textarea rows="7" name="paste" value=paste class="form-control" focus-out="pasteElement"}}
							</div>
						</div>				
			      </div>
			   </div>
			</div>	
        </div>
        <div class="col-sm-6">
			<div class="content-block">
				<div class="block list-element">
			      	<div class="block-header">
			        	<h3 class="block-title">Liste des ingrédients</h3>
			      	</div>
			      	<div class="block-content">
			         	<table class="table table-striped table-vcenter">
			               <thead>
			                  	<tr>
			                     	<th>Nom</th>
			                     	<th style="width: 30%;">Quantité</th>
			                     	<th style="width: 15%;">Mesure</th>
			                     	<th class="text-center" style="width: 100px;">Actions</th>
			                  	</tr>
			               </thead>
			               <tbody>
			                  	{{#each recipe.object.element as |element|}}
									{{display-element 
										item=element
										onRemove=(action "removeElement" element.id)
										}}
								{{/each}}        
			               </tbody>
			            </table>			
			      	</div>
			   </div>
        	</div>
		</div>	
	</div>
	<div class="row">
        <div class="col-sm-6">
			<div class="content-block">
				<div class="block">
			      <div class="block-header">
			         <h3 class="block-title">Description</h3>
			      </div>
			      <div class="block-content form-horizontal">
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Description</label>
							<div class="col-sm-9">
							    {{textarea rows="7" name="description" value=recipe.object.description class="form-control" focus-out="pasteElement"}}
							</div>
						</div>				
			      </div>
			   </div>
			</div>	
        </div>
        <div class="col-sm-6">
			<div class="content-block">
				<div class="block short-view">
			      	<div class="block-header">
			        	<h3 class="block-title">Aperçu</h3>
			      	</div>
			      	<div class="block-content form-horizontal">
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Ingrédient</label>
							<div class="col-sm-9">
								<ul class="padding-8">
							    {{#each recipe.object.element as |element|}}
  									<li>
  										{{ element.quantity }} 
  										{{ element.measure.name }}
  										{{ element.name }}
  									</li>
								{{/each}} 
								</ul>
							</div>
						</div>						
						<div class="row form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">Préparation</label>
							<div class="col-sm-9 padding-8">
							    {{mark-down recipe.object.description}}
							</div>
						</div>						
			      	</div>
			   </div>
        	</div>
		</div>
	</div>
	<button class="btn btn-classic btn-skin pull-right" {{action "addrecipe"}}>Ajouter cette recette</button>
</div>

